body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    min-height: 100vh;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 30px;
}
header .logo {
    max-width: 250px;
    height: auto;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0 20px 45px;
    margin: 0 auto;
}

h3 {
    color: #fff;
    font-weight: 100;
    margin-bottom: 6px;
}

.grid-container {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    max-width: 1200px;
    /* margin: 0 auto; */
}

/* Style card */
.card {
    width: 190px;
    background: #fff;
    padding: .4em;
    border-radius: 6px;
}

.card-image { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.card-image:hover {
    transform: scale(0.98);
}
.card-image img {
    border-radius: 6px 6px 0 0;
    width: 100%;
    max-height: 149px;
}

/* titulo dos cards */
.title-project {
    font-weight: 600;
    color: #000;
    padding: 7px;
}

/* link de acesso */
.link-project {
    text-align: end;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    color: #000;
    padding: 10px 7px 0;
}
.link-project a {
    color: #e48116;
    text-decoration: none;
}
.link-project a:hover {
    opacity: .5;
}
.link-project a:visited {
    color: #14ab3a;
}

/* Footer */
footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
footer p {
    margin-bottom: 10px;
}
footer a {
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    opacity: .5;
}
footer svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

/* Layout para dispositivos pequenos (mobile) */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* Layout para dispositivos médios (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Layout para dispositivos grandes (desktop) */
@media (min-width: 1025px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}